{% extends 'base.html.twig' %}

{% block body %}

    <style>
    </style>
    <body class="bg-orange">
    <section class="h-96" style="background-repeat: no-repeat; background-size: cover;background-position: center center;
       background-image: url('https://i.pinimg.com/736x/e6/cf/59/e6cf59eaaa07fb81d473fdeefebdee26.jpg');">
        <div class="pt-44 lg:pt-96 flex flex-wrap flex-col justify-around">
        </div>
    </section>

    <section class="container w-10/12 mx-auto rounded-t-lg -mt-14 bg-orange1 h-14">
    </section>

    <section id="propos" class="container w-10/12 mx-auto bg-white rounded-b-lg mb-10 h-screen">
        <div class="py-12 bg-white">
            <div class="mx-auto w-10/12">
                <h1 class="text-2xl text-center">Politique de remboursement</h1>

                <h1 class="text-vert3 text-lg">Politique de retour et de remboursement:</h1>
                <p>Vous avez le droit d'annuler votre commande dans les 30 jours sans donner de raison.</p>
                <p>La date limite d'annulation d'une commande est de 30 jours &agrave; compter de la date de r&eacute;ception des marchandises ou de la prise de possession du produit par un tiers que vous avez d&eacute;sign&eacute; et qui n'est pas le transporteur.</p>
                <p>Pour exercer votre droit de r&eacute;tractation, vous devez nous informer de votre d&eacute;cision au moyen d'une d&eacute;claration claire.</p>
                <p>Vous pouvez nous informer de votre d&eacute;cision par courrier &eacute;lectronique nicolas.castex.pro@gmail.com</p>
                <p>Nous vous rembourserons au plus tard 30 jours &agrave; compter du jour o&ugrave; nous recevrons les marchandises retourn&eacute;es. Nous utiliserons les m&ecirc;mes moyens de paiement que ceux que vous avez utilis&eacute;s pour la commande et vous n'aurez pas &agrave; payer de frais pour ce remboursement.</p>
                <h4 class="text-vert3 text-lg">Conditions pour les retours:</h4>
                <p>Pour que les marchandises puissent faire l'objet d'un retour, veuillez vous assurer que :</p>
                <ul>
                    <li>Les marchandises ont &eacute;t&eacute; achet&eacute;es au cours des 30 derniers jours</li>
                    <li>Les marchandises sont dans l'emballage d'origine</li>
                </ul>
                <p>Les marchandises suivantes ne peuvent pas &ecirc;tre retourn&eacute;es:</p>
                <ul>
                    <li>La fourniture de marchandises fabriqu&eacute;es selon vos sp&eacute;cifications ou clairement personnalis&eacute;es.</li>
                    <li>La fourniture de biens qui, conform&eacute;ment &agrave; leur nature, ne peuvent &ecirc;tre restitu&eacute;s, par exemple des biens qui se d&eacute;t&eacute;riorent rapidement ou dont la date d'expiration est d&eacute;pass&eacute;e.</li>
                    <li>La fourniture de biens qui ne peuvent pas &ecirc;tre retourn&eacute;s pour des raisons de protection de la sant&eacute; ou d'hygi&egrave;ne et qui n'ont pas &eacute;t&eacute; scell&eacute;s apr&egrave;s la livraison.</li>
                    <li>La fourniture de biens qui sont, apr&egrave;s la livraison, conform&eacute;ment &agrave; leur nature, m&eacute;lang&eacute;s de mani&egrave;re indissociable avec d'autres articles.</li>
                </ul>
                <p>Nous nous r&eacute;servons le droit de refuser le retour de toute marchandise qui ne remplit pas les conditions de retour ci-dessus, &agrave; notre seule discr&eacute;tion.</p>
                <h4 class="text-vert3 text-lg">Retour des marchandises</h4>
                <p>Vous &ecirc;tes responsable du co&ucirc;t et du risque de nous retourner les marchandises. Vous devez envoyer les marchandises &agrave; l'adresse suivante:</p>
                <p>50 route saint martin 31510 Bagiry</p>
                <p>Nous ne pouvons pas &ecirc;tre tenus responsables des marchandises endommag&eacute;es ou perdues lors du renvoi. Nous ne sommes pas en mesure d'effectuer un remboursement sans le re&ccedil;u r&eacute;el de la marchandise ou la preuve de r&eacute;ception de la livraison.</p>
                <h4 class="text-vert3 text-lg">Cadeaux:</h4>
                <p>Si les marchandises ont &eacute;t&eacute; marqu&eacute;es comme &eacute;tant des cadeaux lors de leur achat puis exp&eacute;di&eacute;es directement chez vous, vous recevrez un cr&eacute;dit-cadeau pour la valeur de votre retour.</p>
                <p>Si le produit n'&eacute;tait pas marqu&eacute; comme un cadeau lors de l'achat, ou si le donneur de cadeau a fait exp&eacute;dier la commande &agrave; lui-m&ecirc;me pour vous la remettre plus tard, nous enverrons le remboursement au donneur de cadeau.</p>
                <h4 class="text-vert3 text-lg">Contactez-nous</h4>
                <p>si vous avez des questions sur notre politique de retour et de remboursement, veuillez nous contacter par e-mail nicolas.castex.pro@gmail.com</p></div>
            </div>

        <div id="footer" class="-mt-10 pb-10">
            {% include './components/footer.html.twig' %}
        </div>

    </section>


    </body>


{% endblock %}
